#mapId {
    width: 100%;
    height: 100%;
}
.container-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    width:100%;
}

.container-inspect{

    position: absolute;
    bottom: 80px;
    z-index: 99999;
    width:100%;

    .item{
        width: 90%;
        border-radius: 10px;

        margin: 2% 0;
        .number{
            display: flex;
            flex-direction: column;
        
            justify-content: center;
            align-items: center; 

            background-color: var(--ion-color-tertiary);

            width: 1.6875em;
            border-radius: 20px;

            p{
                margin: 0;
                color: var(--ion-color-secondary);
    
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
    
            }
        }

        .item-inner{

           a{
            color: var(--ion-color-secondary);

            margin-left: 21px;
           } 
        }
       
    }

  
}
.guide{
    padding: 12px;
    background-color: transparent!important;
    position: absolute;
    z-index: 99999;

    bottom: 20px;
    width:100%;
}



    