<ion-header>
 
</ion-header>

<ion-content>
 
  <div class="container-profile" style="background-color: transparent;">
    <div class="d-flex flex-row justify-content-start w-100" style="margin: 5%; background-color: transparent!important;">
      <ion-buttons slot="start" routerLink=".." class="ion-no-border">
        <ion-icon class="ion-no-border" color="primary"size="large" src="assets/icon/minimize.svg" style="padding: 6px 12px ;"></ion-icon>
      </ion-buttons>
    
    </div>
  </div>
  <div class="container-inspect">
    <ion-slides pager="false" [options]="slideOpts" class="ion-margin-top">
      <ion-slide *ngFor = "let v of inspection" >
          <ion-item lines="none" class="item" >
            <div class="number">
              <p>{{v.id}}</p>
            </div>
    
              <ion-label class="item-inner">
                <ion-title>{{v.name}}</ion-title>
                <ion-text><a routerLink="/request">Ver mais informações</a></ion-text>
              </ion-label>
            </ion-item>
        
      </ion-slide>
    </ion-slides>
  </div>
  <div class="guide">
    <div class="d-flex flex-row justify-content-between">
      <ion-icon size="large" src="assets/icon/navigation.svg"></ion-icon>
      <ion-icon size="large" src="assets/icon/crosshair.svg"></ion-icon>
    </div>
  </div>
  <div id="mapId" style="width: 100%; height: 100%">
   
  </div>
  
</ion-content>
