
<ion-content color="primary" class="ion-no-border">
 
  <ion-toolbar color="primary" class="ion-no-border">
    <div class="scroll">
      <ion-img  src="assets/business-man.svg"></ion-img>
    </div>
    <div class="container">
      <h1>Bem Vindo à Logro </h1>
    </div>  
    <div class="container">
      <ion-text>O aplicativo que te conecta com um profissional responsável por sua inspeção</ion-text>
    </div>
  </ion-toolbar>
  
  <ion-toolbar color="primary" class="ion-no-border">
    <div class="init-footer">
      <div class="container">
        <button class="ion-text-center btn btn-submit" (click)="openLogin()"> 
          <h4>Entrar</h4>
        </button>
      </div>
      <div class="container-title">
        <button class="ion-text-center btn btn-submit" (click)="openSignUp()"> 
          <h4>Registre-se</h4>
        </button>
      </div>
    </div>
   
  </ion-toolbar>
</ion-content>
