.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
    
    h4{ 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
    
    }   
    
    
    .form-group{
       
        .select-inspection{
            background-color: var(--ion-color-primary);
            color: #fff;
            margin: 2%;

            width: 90%;
            height: 92px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
            
        }
      
        .form-control{
            margin: 2%;

            
            background-color: #fff;
            width: 90%;
            height: 92px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:focus{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
       

     
    }
    button{
        background-color: var(--ion-color-primary);

        width: 90%;
        height: 57px;
    
        margin: 2%;
        margin-left: 5%;
        outline: none;
        border: solid 1px;
        border-color: #CED4DA;
        border-radius: 10px;
    }
 
    
}


   

    ion-item{   
        margin: 2%;
        width: 90%;
        

        border-radius: 10px;
        ion-avatar{

            width: 66px;
            height: 66px;
        }
            
        ion-label{


            h1{
                color: var(--ion-color-light);

                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;

                margin: 7px;
            }
            p{
                color: var(--ion-color-light);

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;

                margin: 7px;
            }
            request-profile{
                display: flex;
                flex-direction: row;
            
                justify-content: center;
                align-items: center;

                a{
                    color: var(--ion-color-secondary);
    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
    
                    margin: 7px;
                }
            }   
            
            
        }

}

.container-title{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap:inherit;
    
    
    ion-title{ 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
    
    }
    ion-label{
        overflow:auto;

        h1{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            margin: 7px;
        }
    }
}
.btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 90%;
    margin: 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-secondary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}

.container-download{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    ion-title{
        align-self: flex-start;

        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        

        margin: 2%;
    }

    .btn-download{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ion-color-medium);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 90%;
    margin: 1%;
    color: var(--ion-color-light);

    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
        a{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;

        }
        

    }
}
.slides-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    ion-title{
        font-style: normal;
        font-weight: 600;
        font-size: 20px;

        margin: 2% 2% 0 2% ;
    }

    ion-slides {
        margin-left: 10px;
        
        ion-slide {
            margin: 2px;
            ion-card {
                width: 100%;
                height: 134px;
                box-shadow: none;
                border-radius: 12px;
                
                img {
                    object-fit: cover;
                    width: 100%;
                    transform: scale(1, 1);
                    transition: 600ms all ease-in-out;
                }
            }
            
          .progress {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100px;
      
            padding: 10px;
            
            opacity: 95%;
      
            span {
              font-size: 12px;
              font-weight: 700;
              color: var(--ion-color-dark);
            }
      
            p {
              font-size: 12px;
              color: var(--ion-color-dark-tint);
            }
          }
        }
     }
}

.coments{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;

    text-align: justify;

    ion-title{
        font-style: normal;
        font-weight: 600;
        font-size: 20px;

        margin: 2% 2% 0 2% ;
    }
    ion-text{
        margin: 5%;
    }
}

ion-footer{
    ion-text{
        margin: 2%;
        
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
    }
}

