<ion-header color="secondary" class="ion-no-border" style="border-radius: 10px;">
  <ion-toolbar color="secondary" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink=".." class="ion-no-border">
      <ion-icon class="ion-no-border" color="light" size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-toolbar color="secondary" class="ion-no-border" style="border-radius: 0 0 15px 15px;">

    <div class="container">
      <ion-item color="secondary" lines="none" >
        <ion-avatar slot="start">
          <img src="https://randomuser.me/api/portraits/women/2.jpg" />
        </ion-avatar>
        <ion-label>
          <h1>Maria José</h1>
        </ion-label> 
        <ion-label slot="end">
        <h1><ion-icon name="star"></ion-icon>4.9</h1>
        </ion-label>
      </ion-item>
    </div>
  </ion-toolbar> 

  <ion-toolbar color="light">
    
    <div class="container-title">
      <ion-title>
        Sobre
      </ion-title>
      <ion-text>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium vestibulum justo.
      </ion-text>
    </div>
  
    <div class="container-title">
      <ion-title>
        Avaliação
      </ion-title>
      <div class="avaluation-card" *ngFor="let v of eval">
        <ion-item lines="none" class="avaluation-card" color="light">
          <ion-avatar>
            <img src="{{v.imgUrl}}" />
          </ion-avatar>
          <ion-label>
            <ion-title color="primary"> {{v.name}}</ion-title>
          </ion-label>
          <div class="eval-comment" >
            <ngx-star-rating class="rate" [(ngModel)]="rating1" [id]="'rating3'"  [disabled]="true" ></ngx-star-rating >
          </div>

        </ion-item>
        <ion-text>
          {{v.comment}}
        </ion-text>
      </div>
    </div>
    
  </ion-toolbar>
</ion-content>
