<ion-menu class="blur"side="end" menuId="notify" contentId="main">
  
  <ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border">
      <ion-title style="margin: 12% 0 12% 0; padding: 16px;" slot="start"><strong>Notificações</strong></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let note of notifications">
      <ion-item lines="none" routerLink="/begin-inspection">
        <ion-text>
          {{note.title}}
        </ion-text>
        <ion-icon  slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<div class="ion-page" id="main">
  <ion-header color="primary" class="ion-no-border">
    <ion-toolbar color="primary" class="ion-no-border"  >
      <ion-buttons slot="start" (click) = "openMenu()" >
        <ion-icon color="light" size="large" src="assets/icon/menu.svg" style="margin: 10px;"></ion-icon>
      </ion-buttons>
      <ion-title>
          <ion-img src="assets/icon/logro-icon.svg" style="width: 35%; margin: auto;"></ion-img>
      </ion-title>
      <ion-buttons id="notification-button" slot="end" (click) = "openNotify()">
        <ion-badge id="notifications-badge" color="secondary">{{noteLength}}</ion-badge>
        <ion-icon color="light" size="large" src="assets/icon/bell.svg" style="margin: 10px;">
          
        </ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
   
    <div class="container-home">
      <div class="pop-up">
        <ion-item color="dark" lines="none" (click) = "openNewInspection()">
          <ion-text slot="start">Você tem uma nova solicitação</ion-text>
          <ion-label>
            <ion-icon slot="end" size="large" color="light" name="chevron-forward-outline"></ion-icon>
          </ion-label>
                  
        </ion-item>
      </div>
      <div class="card">
      
          <h1 class="title">Inspecões na palma da sua mão</h1>
          <ion-img class="image-el" src="assets/business-woman.svg" ></ion-img>
        
      </div>
    </div>
    
      <div class="container">
        <div class="btn" routerLink="/my-inspections">
          <ion-icon color="secondary" size="large" src="assets/icon/square.svg"></ion-icon>
          <ion-text>Inspeções</ion-text>
        </div>
        <div class="btn" routerLink="/my-inspections">
          <ion-icon color="secondary" size="large" src="assets/icon/bookmark.svg"></ion-icon>
          <ion-text>Histórico de inspeções</ion-text>
        </div>
      
      </div>
      <div class="swipe-up">
        
        <ion-text>Você já está apto para receber solicitações</ion-text>
      </div>
      
    </ion-content>
</div> 