.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .card{
        border-radius: 10px;
        padding: 0px;
        
        ion-item{
           
            ion-label{


                h1{
                    color: #3C3C3B;
    
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
    
                    margin: 7px;
                }
                p{
                    color:rgba(0, 0, 0, 0.5);;
    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
    
                    margin: 7px;
                }
                a{
                    color: var(--ion-color-secondary);
    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
    
                    margin: 7px;
                }
            }

        }

           
    }
    
    .form-group{
       
        .select-inspection{
            background-color: var(--ion-color-primary);
            color: #fff;
            margin: 2%;

            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
            
        }
      
        .gps{
            background-color: var(--ion-color-secondary);
            margin: 2%;

            color: var(--ion-color-light);
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control{
            margin: 2%;

            
            background-color: #fff;
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:focus{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
       

     
    }
    button{
        background-color: var(--ion-color-primary);

        width: 90%;
        height: 57px;
    
        margin: 2%;
        margin-left: 5%;
        outline: none;
        border: solid 1px;
        border-color: #CED4DA;
        border-radius: 10px;
    }
 
    
}



