.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    .form-group{
        
        .select-inspection{
            background-color: var(--ion-color-primary);
            color: #fff;
            margin: 2%;

            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
            
        }

        .gps{
            background-color: var(--ion-color-secondary);
            margin: 2%;

            color: var(--ion-color-light);
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control{
            margin: 2%;

            
            background-color: #fff;
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:focus{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
    }
        
    
}
.btn-submit{

    background-color: var(--ion-color-primary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 90%;
    margin: 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}