<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink=".." class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Nome da Solicitação
    </ion-title>
    <ion-buttons slot="end" class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="ellipsis-horizontal-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="primary-contrast" style="border-radius: 15px;">
  <div class="container" >
    <ion-item color="secondary" lines="none" >
     <ion-avatar slot="start">
      <img src="https://randomuser.me/api/portraits/women/2.jpg" />
     </ion-avatar>
     <ion-label>
       <h1>Maria José</h1>
     </ion-label> 
     <ion-label slot="end">
      <h1><ion-icon name="star"></ion-icon>4.9</h1>
      <div class="request-profile">
        <a style="color: var(--ion-color-light);" routerLink="/profile">Ver mais</a>
      </div>
      
    </ion-label> 
    </ion-item>

    <div class="container-title">
      <ion-title color="primary">18 de setembro</ion-title>
      <ion-item color="primary">
          <ion-text>15 a 16 horas</ion-text>
      </ion-item>
    </div>  
    
      <ion-card style="border-radius: 10px; width: 90%;">
        <img src="assets/map-img.svg" routerLink="/map" width="100%" height="112px" style="object-fit: cover" />
        
        <ion-card-content class="container-card">
         <ion-list color="light" *ngFor="let v of properties">
           <ion-item lines="none">
             <ion-text slot="start" color="primary">{{v.name}}: </ion-text>
             <ion-text slot="start" color="secondary">{{v.propertie}}</ion-text>
           </ion-item>
         
         </ion-list>
        </ion-card-content>
      </ion-card>
    
  </div>

  <ion-toolbar class="slides-container" >
       <div class="container-download">
        <ion-title color="dark">Documentos</ion-title>
        <button *ngFor="let v of files" class="btn-download" href="" download>
          <ion-text slot="start" color="primary">{{v.title}}</ion-text>
          <ion-icon slot="end" color="primary" size="large" name="download-outline"></ion-icon>
          
        </button>
      </div>
  </ion-toolbar>
    
</ion-content>

