<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu menuId="menu" contentId="main-content" type="overlay" color="primary">
      <ion-content color="light">
        
          <ion-toolbar class="container" color="primary" *ngFor="let v of persons">

            <div class="container-profile">
              <ion-avatar >
                <img src="assets/profile.svg">
              </ion-avatar>
              <ion-label>
                <h1>{{ v.name }}</h1>
                <div class="rate">
                  <ion-icon color="light" slot="start"  name="star-outline" ></ion-icon>
                  <p>{{v.rate}}</p>
                </div>
                
              </ion-label>  

              </div>  
            </ion-toolbar>

            <ion-list color="light">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" no-border>
                
                  <ion-item color="light" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                    <ion-icon color="secondary" slot="start" [src]="'assets/icon/'+ p.icon + '.svg'"></ion-icon>
                    <ion-label><h1>{{ p.title }}</h1></ion-label>
                  </ion-item>
              </ion-menu-toggle>
            </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-item color="light" routerDirection="root" [routerLink]="['/init']" lines="none" detail="false" routerLinkActive="selected" (click)="closeMenu()">
          <ion-icon color="secondary" slot="start" [src]="'assets/log-out.svg'"></ion-icon>
          <ion-label><h1>Desconectar</h1></ion-label>
        </ion-item>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
