<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink="" class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Resultado da Inspeção
    </ion-title>

  </ion-toolbar>
</ion-header>
  
<ion-content color="light" class="ion-no-border">

  <ion-toolbar color="light" class="container">
    <div class="form-group">
      <textarea class="form-control" cols="10" rows="30" placeholder="Comentários"></textarea>
    </div>
  </ion-toolbar>
  <ion-toolbar color="light" class="slides-container" >
    <ion-title color="dark">Anexe os Documentos</ion-title>
    <ion-item color="light" lines="none" class="container" (click)="onAddFile()">
      <ion-icon size="large" slot="start" name="add-outline"></ion-icon>
      <ion-text slot="start">Fazer upload</ion-text>
    </ion-item>
    <ng-template [ngIf]="addFile">
      <div class="container-download">
        <label *ngFor="let v of files" class="btn-download" href="" download>
          <input type="file"/>
          <ion-icon slot="start" color="primary" size="large" name="attach-outline"></ion-icon>
          <ion-text slot="start" color="primary">Nome do arquivo</ion-text>
        </label>
      </div>
    </ng-template>
    </ion-toolbar>

    <ion-toolbar color="light" class="slides-container" >
      <ion-title color="dark">Anexe as imagens e vídeos</ion-title>
      
      <ion-item color="light" lines="none" class="container" (click)="onAddImg()">
        <ion-icon size="large" slot="start" name="add-outline"></ion-icon>
        <ion-text slot="start">Fazer upload</ion-text>
      </ion-item>
      <ng-template [ngIf]="addImg">
        <div class="container-download">
          <label *ngFor="let v of files" class="btn-download" href="" download>
            <input type="file" accept="video/*,image/*"/>
            <ion-icon slot="start" color="primary" size="large" name="attach-outline"></ion-icon>
            <ion-text slot="start" color="primary">Nome do arquivo</ion-text>
          </label>
        </div>
      </ng-template>
    </ion-toolbar>
  
  
  

</ion-content>

<ion-footer color="light" class="ion-no-border">
  <div class="container">
    <ion-toolbar class="form-group ion-text-center ion-no-border">
      <button class="ion-text-center btn btn-submit" routerLink="/f-request"> 
            <h4>Enviar</h4>
      </button>
    </ion-toolbar>
  </div>

</ion-footer>
