

.container-title{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap:inherit;
    
    
    ion-title{ 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
    
    }
    ion-label{
        overflow:auto;

        h1{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 19px;

            margin: 7px;
        }
    }
}

.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    .item{
        width: 90%;
        border-radius: 10px;

        margin: 2% 0;
        .number{
            display: flex;
            flex-direction: column;
        
            justify-content: center;
            align-items: center; 

            background-color: var(--ion-color-tertiary);

            width: 1.6875em;
            border-radius: 20px;

            p{
                margin: 0;
                color: var(--ion-color-secondary);
    
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
    
            }
        }

        .item-inner{

           a{
            color: var(--ion-color-secondary);

            margin-left: 21px;
           } 
        }
       
    }
        
    
}
.btn-submit{

    background-color: var(--ion-color-secondary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 90%;
    margin: 5% 2%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-secondary );
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}

.deny{
    p{
        a{
            color: rgba(0, 0, 0, 0.5);

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
        }
    }
}

#mapInsp{
    margin-top: 10px;
    width: 100%;
    height: 42%;
}

.maximize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    width:100%;
}