.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    .form-group{
        
        .select-inspection{
            background-color: var(--ion-color-primary);
            color: #fff;
            margin: 2%;

            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
            
            --placeholder-color: #fff;
            --placeholder-opacity: 1;
            
            
        }
       .select-custom{
            background-color: #fff;
            color: var(--ion-color-primary);
            margin: 2%;

            width: 90%;
            height: 57px;

            margin: 2%;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
            margin-left: 5%;
            outline: none;
            
            border-radius: 10px;
       }
        

        .gps{
            display: flex;

            justify-content: flex-start;
            align-items: center;

            background-color: var(--ion-color-secondary);
            margin: 2%;

            color: var(--ion-color-light);
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
            
            
        }
        .attach{
            display: flex;

            justify-content: flex-start;
            align-items: center;

            background-color: #fff;
            margin: 2%;

            color: var(--ion-color-dark);
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control{
            margin: 2%;

            
            background-color: #fff;
            width: 90%;
            height: 57px;

            margin: 2%;
            margin-left: 5%;
            outline: none;
            border: solid 1px;
            border-color: #CED4DA;
            border-radius: 10px;
        }
        .form-control:focus{
            border: none;
            outline: none;
        }

        .toggle-btn{
            margin: 2%;
            margin-left: 5%;

            height: 24px;
        }
        .toggle-container{
            display: flex;
            flex-direction: row;
        
            justify-content: start;
            align-items: center;
            
        }
    }
        
    
}
.btn-submit{

    background-color: var(--ion-color-primary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;

    width: 90%;
    margin: 5%;
    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}

ion-progress-bar{
    --progress-background: #fff;
}

ion-select{
    --placeholder-color: var(--ion-color-primary);
    --placeholder-opacity: .8;
}

ion-footer{
    &::part(content){
        --background: transparent;
    }
    
}
#mapNew{
    width: 100%;
    height: 100%;
}
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    position: absolute;
    z-index: 99999;
    width:100%;
}