<ion-header color="secondary" class="ion-no-border">
  <ion-toolbar color="secondary" class="ion-no-border"  >
    <ion-title color="" class="ion-text-center"> 
      Uma nova solicitação
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <div class="container-footer" style="background-color: transparent!important;">
    <button color="primary" class="ion-text-center btn btn-submit" routerLink="/accept" (click)="dismiss()"> 
      <ion-label><h4>Ver mais</h4></ion-label>
    </button>
  </div>
  <div id="mapNew"></div>   
</ion-content>

