/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


@import "~bootstrap/scss/bootstrap";
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

.loginModal{
    --border-radius: 20px 20px 0px 0px;
}
.signUpModal{
    --border-radius: 20px 20px 0px 0px;
}
.paymentModal{
    --border-radius: 20px 20px 0px 0px;
    backdrop-filter: blur(8px);
}

.new-inspection-modal{

    --background: rgb(255,255,255,0.1)!important;
    backdrop-filter: blur(12px);

    &::part(backdrop){
        backdrop-filter: blur(12px);
    }

    &::part(content){

        border-radius: 20px;
        
        width: 80%;
        height: 50%;
    }
   

}

ion-menu{
    background-color: opacity($color: #fff);
    backdrop-filter: blur(8px);
    
}



input.star:checked ~ label.star:before {
    color: var(--ion-color-secondary) !important;
}

.eval-comment{

    width: auto!important;

    label.star::before {
        font-size: 1rem;
       
    }
    label.star{
        padding: 0%!important;
    }
}





