.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-justify: center;
    
    flex-wrap: wrap;
   
    ion-text{
        margin: 10% 0 10% 0;

        overflow: auto;
        width: 90%;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
        }
    }
}

.container{
    ion-progress-bar{
    height: 15px;
    width: 90%;
    border-radius: 10px;
    }
}
.container-card{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    text-justify: center;
    
    flex-wrap: wrap;

    ion-item{
        margin: 0;
        width: 100%;
    }
    ion-text{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

}

.btn-submit{

    background-color: var(--ion-color-primary);
    font-size: 14px;
    border-radius: 5px;
    height: 57px;
    margin: 0;
    width: 90%;

    color: var(--ion-color-light);

    border: solid 1px;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    outline: none;
    transition: all 0.25s ease;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

    }
        

}

  ion-item{   
    margin: 2%;
    width: 90%;
    

    border-radius: 10px;
    ion-avatar{

        width: 66px;
        height: 66px;
    }
        
    ion-label{


        h1{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;

            
        }
        p{
            color: var(--ion-color-light);

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

           
        }
        request-profile{
            display: flex;
            flex-direction: row;
        
            justify-content: center;
            align-items: center;

            a{
                color: var(--ion-color-secondary);

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;

                margin: 7px;
            }
        }   
        
        
    }

}

ion-footer{

    h1{
       margin: 5%;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
    }

}

