<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink=".." class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Nome da Solicitação 
    </ion-title>
    <ion-buttons slot="end" class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="ellipsis-horizontal-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-text-center">
  <div class="container">
      <ion-item color="secondary" lines="none" >
       <ion-avatar slot="start">
        <img src="https://randomuser.me/api/portraits/women/2.jpg" />
       </ion-avatar>
       <ion-label>
         <h1>Maria José</h1>
       </ion-label> 
       <ion-label slot="end">
        <h1><ion-icon name="star"></ion-icon>4.9</h1>
        <div class="request-profile">
          <a style="color: var(--ion-color-light);" routerLink="/profile">Ver mais</a>
        </div>
        
      </ion-label> 
      </ion-item>
  
  </div>

  <div class="container-card">
    <ion-card style="border-radius: 10px; width: 85%;">
      <img src="assets/map-img.svg" routerLink="/map" width="100%" height="112px" style="object-fit: cover" />
      
      <ion-card-content>
       <ion-list color="light" style="width: 100%;" >
         <ion-item *ngFor="let v of properties" style="width: 100%;" lines="none">
           <ion-text slot="start" color="primary">{{v.name}}: </ion-text>
           <ion-text color="secondary">{{v.propertie}}</ion-text>
         </ion-item>
       
       </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
 
  
</ion-content>
<ion-footer color="light" class="ion-no-border ion-padding-vertical">
  <div class="container">
    <ion-toolbar class="form-group ion-text-center ion-no-border">
      <h1>Envie o resultado da inspeção para finalizar</h1>
      <button class="ion-text-center btn btn-submit" routerLink="/f-request"> 
            <h4 style="margin: 0;">Enviar</h4>
      </button>
    </ion-toolbar>
  </div>

</ion-footer>
