<ion-header color="light" class="ion-no-border">
  <ion-toolbar color="light" class="ion-no-border"  >
    <ion-buttons slot="start" routerLink=".." class="ion-no-border">
      <ion-icon class="ion-no-border" color="primary"size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> 
      Solicitação de Inspeção
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-toolbar color="light">
    <div class="container" *ngFor="let v of inspection">
      <ion-item lines="none" class="item" >
        <div class="number">
          <p>{{v.id}}</p>
        </div>

          <ion-label class="item-inner">
            <ion-title>{{v.name}}</ion-title>
            <ion-text><a routerLink="/request">Ver mais informações</a></ion-text>
          </ion-label>
          <ion-icon color="dark" size="large" name="close-outline"></ion-icon>
      
        
      </ion-item>
      <ion-icon size="large" color="secondary" name="ellipsis-vertical"></ion-icon>
    </div>
    
  </ion-toolbar>
  <ion-toolbar color="light" class="form-group ion-text-center">
    <div class="container deny">
      <button color="primary" class="ion-text-center btn btn-submit" routerLink="/inspection" > 
        <ion-label><h4>Aceitar</h4></ion-label>
      </button>
      <p><a routerLink="">Recusar</a></p>
    </div>    
  </ion-toolbar>
  <div id="map">
    <div class="maximize" style="background-color: transparent;">
      <div class="d-flex flex-row justify-content-start w-100" style="margin: 5%; background-color: transparent!important;">
        <ion-buttons slot="start" routerLink="/map" class="ion-no-border">
          <ion-icon class="ion-no-border" color="primary"size="large" src="assets/icon/maximize.svg" style="padding: 6px 12px ;"></ion-icon>
        </ion-buttons>
      </div>
    </div>
  </div>

</ion-content>
